{% extends 'base.html' %}

{% block content %}
 
		<!--	<div class="col-md-6"> 					
					  {{book.book_name}}
			</div>-->

			<div class="container">
			<h1 class="text-center pt-3"><b>Book Name:</b> {{ book.book_name }}</h1><hr/>
			<h3><p class="text-center"><b>Author: </b> {{ book.author }}</p></h3><hr/>
			<center><img class="img-fluid" src="{{book.book_img.url }}"  height="800" width="600"/></center>
			<br />
			<br />
			<h4><p><b>Book description:</b> {{ book.description }} </p></h4><hr/>
			<h4><p><b>Book Condition:</b> {{ book.condn }} </p></h4><hr/>
			
			  {% csrf_token%}
			  {% if user.is_authenticated %}
			  <a class="nav-item nav-link" href="#">
			  <button type="button">Contact Book Owner</button>           
			  </a>
			 
			{% else %} 
			plz signup or login first
			{% endif %}
		
		  </div>
		



{%endblock%}